<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BatchRunner.BatchRunner" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatchRunner.Properties.Settings>
            <setting name="BatchFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DDDExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DDDPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="RunNextAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopDDDServerBetweenRuns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunDDDServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DDDHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DDDClientPath" serializeAs="String">
                <value>\\localhost\DDDClient</value>
            </setting>
        </BatchRunner.Properties.Settings>
        <BatchRunner.BatchRunner>
            <setting name="BatchFilePath" serializeAs="String">
                <value />
            </setting>
        </BatchRunner.BatchRunner>
    </userSettings>
</configuration>