<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DashboardDataAccess.Properties.Settings.VisDashboardDBConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=VisDashboardDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>