<log4net>
	
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
		</layout>
	</appender>
   
	<appender name="GeneralFile" type="log4net.Appender.RollingFileAppender">
		<file value="log/VSG.log" />
		<appendToFile value="true" />
		<maximumFileSize value="300KB" />
		<maxSizeRollBackups value="2" />

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
			<!--<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />-->
			<!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
		</layout>
	</appender>
  
	<root>
		<level value="DEBUG" />
		<appender-ref ref="Console" />
		<appender-ref ref="GeneralFile" />
	</root>
</log4net>